@import './fonts.scss';
@import '../assets/scss/libs/mixins';
@import '../assets/css/font-awesome.min.css';

html {
    font-size: 62.5%;

    @media (max-width: 767px) {
        font-size: 8px;
    }
}

body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}

.icon {
    @include icon;
}